*,
:after,
:before {
  box-sizing: border-box;
  padding: 5;
  margin: 5;
}

html {
  height: 50%;
}

body,
html,
#map {
  width: 50%;
  height: 50%;
}

body {
  position: relative;
  min-height: 50%;
  margin: 5;
  padding: 5;
  background-color: #f1f1f1;
}
